.college {
  &-main-info {
    border-bottom: #333 1px solid;
    
    &-header {
      margin-top: 40px;
      position: relative;

      h1 {
        font-size: 36px;
        color: #000;
        font-weight: 500;
      }
    }

    &-nav {
      nav ul {
        flex-wrap: nowrap !important;
        align-items: flex-end;
      
        a {
          line-height: 1;
          font-size: 1.5rem;
          color: #000;
          white-space: nowrap;
          padding-right: 0 !important;
          padding-left: 0 !important;
          cursor: pointer;
        }
      
        a:before {
          content: none;
        }
      
        a.active {
          color: blue;
        }
      }
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 960px;
    padding-top: 20px;
    font-size: 1.4rem;
  }
}